.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    bottom: 0;
}

.content {
    flex: 1;
    font-size: 0.8rem;
    height: 100%;
}

.content pre {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}